<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'login', media: 'all' %> <!-- Link to your custom login.css -->
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-box">
    <h1 class="login-heading">Reset Your Password</h1>

    <%= form_with model: @user, url: password_reset_path, method: :patch, class: 'login-form' do |form| %>
      <%= hidden_field_tag :token, params[:token] %>

      <div class="input-group">
        <%= form.label :password, "New password", class: 'input-label' %>
        <%= form.password_field :password, required: true, class: 'input-field' %>
      </div>

      <div class="input-group">
        <%= form.label :password_confirmation, "Confirm password", class: 'input-label' %>
        <%= form.password_field :password_confirmation, required: true, class: 'input-field' %>
      </div>

      <div class="button-container">
        <%= form.submit "Reset Password", class: 'submit-button' %>
      </div>
    <% end %>

  </div>
</body>
</html>
