<%= stylesheet_link_tag 'reservation', media: 'all' %>

<div class="reservation-page-container" style="display: flex; gap: 2rem; align-items: flex-start;">
  <div class="reservation-container" style="flex: 2;">
    <h1 class="reservation-title">Reserve <%= @room.name %></h1>

    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <%= form_with url: reserve_room_path(@room), method: :get, local: true do %>
      <%= hidden_field_tag :room_id, @room.id %>
      <div class="form-group">
        <%= label_tag :date, "Select Date", class: "form-label" %>
        <%= date_field_tag :date, @selected_date, class: "form-input", onchange: "this.form.submit();" %>
      </div>
    <% end %>

    <%= form_with model: @reservation, url: reservations_path, local: true do |f| %>
      <%= f.hidden_field :room_id, value: @room.id %>

      <div class="form-group">
        <%= f.label :start_time, "Start Time", class: "form-label" %>
        <%= f.select :start_time, options_for_select(@available_times.map { |time| [time.strftime("%H:%M"), time] }), {}, class: "form-input" %>
        <% if @reservation.errors[:start_time].any? %>
          <div class="error-message"><%= @reservation.errors[:start_time].first %></div>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :end_time, "End Time", class: "form-label" %>
        <%= f.select :end_time, options_for_select(@available_times.map { |time| [time.strftime("%H:%M"), time] }), {}, class: "form-input" %>
        <% if @reservation.errors[:end_time].any? %>
          <div class="error-message"><%= @reservation.errors[:end_time].first %></div>
        <% end %>
      </div>

      <%= f.submit "Confirm Reservation", class: "btn-submit" %>
    <% end %>
  </div>

  <%= render partial: 'reserved_times' %>
</div>
