<!-- app/views/rooms/edit.html.erb -->

<h1>Edit Room</h1>

<%= form_with(model: @room, local: true) do |form| %>
  <% if @room.errors.any? %>
    <div>
      <h2>Errors:</h2>
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Room Name" %>
    <%= form.text_field :name, value: @room.name, required: true %>
  </div>

  <div>
    <%= form.submit "Update Room" %>
  </div>
<% end %>

<%= link_to 'Back to Rooms', rooms_path %>
