<!-- app/views/layouts/application.html.erb -->
<% if notice %>
  <div class="notice"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert"><%= alert %></div>
<% end %>

<!DOCTYPE html>
<html>
<head>
  <title>TheReserve</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
  <header>
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Dashboard', dashboard_path %> |
      <%= link_to 'Rooms', rooms_path %> |
      <%= link_to 'Logout', logout_path, method: :delete %>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
