<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "The Reserve" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application.tailwind', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body class="bg-gray-900"  %>
        <% if flash[:notice] %>
          <div class="bg-green-500 text-white p-4 mb-4 rounded">
            <%= flash[:notice] %>
          </div>
          <% flash[:notice] = nil %> <!-- Clears the flash message after rendering -->
        <% end %>
  <!-- Modal -->
  <div id="loginModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg w-full max-w-md">
      <h2 class="text-2xl font-semibold text-gray-800">Login Successful</h2>
      <p class="text-gray-700">Welcome to your dashboard!</p>
      <div class="mt-4 flex justify-end">
        <button onclick="closeModal()" class="bg-gray-800 text-white px-4 py-2 rounded">Close</button>
      </div>
    </div>
  </div>

  <div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-3xl">
      <% if flash[:notice] %>
        <div class="bg-green-500 text-white p-4 mb-4 rounded">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if controller_name != "sessions" && controller_name != "registrations" %>
        <div class="bg-gradient-to-r from-[#2C3E50] to-[#8E44AD] p-4 rounded-lg shadow-xl mb-6">
          <h1 class="text-2xl font-semibold text-white">Welcome to your App</h1>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      if (document.querySelector('[data-flash-message]')) {
        openModal();
        setTimeout(closeModal, 2000);  // Close the modal after 2 seconds (2000 milliseconds)
      }
    });

    function openModal() {
      document.getElementById('loginModal').classList.remove('hidden');
    }

    function closeModal() {
      document.getElementById('loginModal').classList.add('hidden');
    }
  </script>

</body>
</html>
